$namespace = '.reviews';

{$namespace} {
  max-width: 500px;
  padding: 0.5em;
  margin-top: 0.5em;
  background: #eee;
  box-sizing: border-box;
  
  &__review {
    padding: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 0.5em;
    background-color: rgba(255, 255, 255, 0.75);
    
    &:first-of-type {
      margin: 0;
    }
    
    &-title {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
    
    &-stars {
      font-size: 1.2em;
      display: inline-block;
      position: relative;
    }
    
    &-rating {
      overflow-x: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    &-user {
      color: rgba(0, 0, 0, 0.75);
      font-weight: bold;
    }
    
    &-text {
      white-space: pre-wrap;
      margin-bottom: 0;
    }
  }
}