<div class="{{namespace}}">
  <div class="{{namespace}}__window"></div>
  <p class="{{namespace}}__blurb">
    Chat with some experts about this cool product.
  </p>
  <button type="button" class="{{namespace}}__cta">Start Chat</button>
</div>